<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    адаптивный экран для любых устройств-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>List of users</title>
</head>


<br>


<!-- Текущая дата и часы-->
<span id="current_date_time_block2"
      style="color:#7e5a25; font-size:14pt;
       border:2px solid #e1d4ae;
        background:#e8e3d4;
        padding:5px;"></span>

<script type="text/javascript">


    function zero_first_format(value) {
        if (value < 10) {
            value = '0' + value;
        }
        return value;
    }

    function date_time() {
        var current_datetime = new Date();
        var day = zero_first_format(current_datetime.getDate());
        var month = zero_first_format(current_datetime.getMonth() + 1);
        var year = current_datetime.getFullYear();
        var hours = zero_first_format(current_datetime.getHours());
        var minutes = zero_first_format(current_datetime.getMinutes());
        var seconds = zero_first_format(current_datetime.getSeconds());

        return "Date and time today :  " + day + "." + month + "." + year + " " + hours + ":" + minutes + ":" + seconds;
    }

    setInterval(function () {
        document.getElementById('current_date_time_block2').innerHTML = date_time();
    }, 1000);

</script>


<br>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<!-- The form -->
<form class="example" th:action="@{/user}">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br>


<div class="container">
    <div th:fragment="content">


        <h2>List of users</h2>
        <table bgcolor="#f5f5dc" border="1">

            <thead>

            <tr bgcolor="#8cff3b">
                <th>#</th>
                <!--                сортировка asc   dsc  по заголовку-->
                <th><a th:href="@{'/user/page/' + ${currentPage} + '?pageSize=' + ${pageSize}+ '&sortField=username&sortDir=' + ${reverseSortDir}}">username</a>
                </th>
                <th>Created_At</th>
                <th>Updated_At_At</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Status</th>
                <th><a th:href="@{'/user/page/' + ${currentPage} + '?pageSize=' + ${pageSize}+ '&sortField=roles&sortDir=' + ${reverseSortDir}}">Role</a>
                </th>
                <th>Action</th>

            </tr>

            </thead>
            <tbody>
            <tr th:each="user, iterStar : ${users}">
                <td th:text="${iterStar.index+1}" bgcolor="#8cff3b"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.createdAt}"></td>
                <td th:text="${user.updatedAt}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.status}"></td>

                <td>
                    <div th:each="role :${user.roles}" th:text="${role.getName()}"></div>
                </td>
                <td>
                    <div>
                        <div style="float: left;">
                            <form th:method="GET" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
                                <input style="background-color: #147bff; color: #000000;" type="submit"
                                       value="Show details"/></form>
                        </div>
                        <div style="float:left;">
                            <form th:method="GET" th:action="@{/user/{id}/edit(id=${user.getId()})}"
                                  th:object="${user}">
                                <input style="background-color: #147bff; color: #000000;" type="submit" value="Edit"/>
                            </form>
                        </div>
                        <div style="float:right;">
                            <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
                                <input style="background-color: #ff383a; color: #000000;" type="submit" value="Delete"/>
                            </form>
                        </div>
                    </div>
                </td>

            </tr>
            <tbody>

        </table>
        <a style="color: blue" href="/user/new"><h4>CREATE NEW USER</h4></a>
        <a style="color: red" href="/login"><h4>Logout</h4></a>
        <br>

    </div>

</div>
<br/>
<hr/>



<br th:if="${totalPages > 1}">

<br class="col-sm-2">

Total Rows: [[${totalItems}]]
Total Pages: [[${totalPages}]]<br>

</div>
<br>

<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/user/page/' + ${i}+ '?pageSize=' + ${pageSize}+'&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>

<a th:if="${currentPage < totalPages}"
   th:href="@{'/user/page/' + ${currentPage + 1}+'?pageSize=' + ${pageSize}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next |</a>
<span th:unless="${currentPage < totalPages}">Next</span>


<a th:if="${currentPage < totalPages}"
   th:href="@{'/user/page/' + ${totalPages}+ '?pageSize=' + ${pageSize}+'&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"> Last</a>
<span th:unless="${currentPage < totalPages}">Last</span>

<br><br/>

<form name="myform" th:method="GET" th:action="@{/user/page/1}" th:object="${user}">
<label for="pageSizeNew">Select page size: </label>
    <select type="number" th:name="pageSize" id="pageSizeNew" >
        <option th:value=1> 1</option>
        <option th:value=2> 2</option>
        <option th:value=3> 3</option>
        <option th:value=4> 4</option>
        <option th:value=5> 5</option>
        <option th:value=6> 6</option>
        <option th:value=7> 7</option>
        <option th:value=8> 8</option>
        <option th:value=9> 9</option>
        <option th:value=10> 10</option>
    </select>


    <input hidden="hidden" name="sortDir" th:value="${sortDir}"/>
    <input hidden="hidden" name="sortField" th:value="${sortField}"/>
    <input hidden="hidden" name="currentPage" th:value="${currentPage}"/>

    <input type="submit" value="Submit"/>


</form>



</div>

</body>
</html>