<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<div>
    <a href="/user">Back</a> |
    <a href="/login">Logout</a>
</div>
<br/><br/>
<div>
    <h2>Users Info</h2>
    <table border="1" bgcolor="beige">
        <tr>
            <th>UserName</th>
            <th>CreatedAt</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Password</th>
            <th>Status</th>
            <th>Role</th>
            <th>Link</th>
            <th>Link</th>
        </tr>

       <td th:text="${user.username}"></td>
       <td th:text="${user.createdAt}"></td>
       <td th:text="${user.firstName}"></td>
       <td th:text="${user.lastName}"></td>
       <td th:text="${user.password}"></td>
       <td th:text="${user.status}"></td>
       <td th:text="${user.roles}"></td>

        <td>
            <form th:method="patch" th:action="@{/user/{id}/edit(id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="Edit"/></form>
        </td>
        <td>
            <form th:method="delete" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="Delete"/></form>
        </td>
        </tr>
    </table>
</div>
<br/><br/>
</body>
</html>