<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login to the system</h2>

<form th:method="POST" th:action="@{/login}" th:object="${userForm}">
    <br><br/>

<div style="margin-left:1rem">
    <label for="username">Enter userName: </label>
    <input type="text" placeholder="UserName" th:field="*{username}" id="userName"/>
</div>

    <div style="color:red"
         th:if="${#fields.hasErrors('username')}"
         th:errors="*{username}">UserName Error
    </div>

    <br><br/>

<div style="margin-left:1rem">
    <label for="password">Enter password: </label>
    <input  placeholder="Password" type="password" th:field="*{password}" id="password"/>
</div>


    <div style="color:red"
         th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">Password Error
    </div>

    <br><br/>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>